@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
@layer components {
  #dashboard a {
    @apply rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white;
  }
  #dashboard a.active {
    @apply rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white;
  }
  #dashboard .mobileNav a {
    @apply rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white w-full;
  }
  #dashboard .mobileNav a.active {
    @apply block rounded-md px-3 py-2 text-base font-medium bg-white/5 text-white;
  }
  .action-btn {
    @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer;
  }
}
